<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349432911478-7nq2ruq1dv11tgb6hrmtf8g6nuesh8k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349432911478-7nq2ruq1dv11tgb6hrmtf8g6nuesh8k7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349432911478-0t2v0n537nqmp9ihfc8uj17ja42a74pj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPdZTGJOTIE152moN8hN01oRn8_El1Jk0</string>
	<key>GCM_SENDER_ID</key>
	<string>349432911478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-52163</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-52163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349432911478:ios:989070f890277a6075b157</string>
</dict>
</plist>